  <section class="pt-12 bg-gray-50 sm:pt-16">
    <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
      <div class="text-center">
        <h1 class="text-4xl tracking-tight font-medium font-display text-black md:text-6xl">
          Rajasthan's Premier <br class="hidden md:block">
          <strong>Taxi Services</strong> <span class=" text-nowrap "> for Every Ride</span>
        </h1>
        <h1 class="max-w-2xl mx-auto px-6 text-lg text-gray-600 font-inter">
          Enjoy a seamless, safe and comfortable journey with our trusted drivers and modern fleet. Your ride, our priority.
        </h1>
        <div class="px-8 sm:items-start sm:justify-center sm:px-0 sm:space-x-5 sm:flex mt-9">
          <a href="/book-cab" title=""
             class="mb-3 sm:mb-0 inline-flex items-center justify-center w-full px-8 py-3 text-lg font-bold text-white transition-all duration-200 bg-gray-900 border-2 border-transparent sm:w-auto rounded hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900"
             role="button">
             Book a Ride
          </a>
          <a href="/contact-us"
             class="inline-flex items-center justify-center w-full px-8 py-3 text-lg font-bold text-gray-900 hover:text-white transition-all duration-200 bg-gray-100 border-2 border-gray-900 sm:w-auto rounded hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900"
             role="button">
             Contact Us
          </a>
        </div>
      </div>
    </div>
    <div class="bg-white">
      <div class="relative mx-auto mt-4 md:mt-8">
        <div class="lg:max-w-4xl lg:mx-auto">
          <img class="px-4 md:mpx-8" src="https://images.pexels.com/photos/5589173/pexels-photo-5589173.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
        </div>
      </div>
    </div>
  </section>

